<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0"/>

	<!-- iPhone 6/7/8 (750x1334) -->
    <link href="/launch.png" media="(device-width: 375px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<!-- iPhone (5/Retina) SPLASHSCREEN(640x1096)-->
	<link href="/launch-retina.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
	<!-- iPhone 4 (320x460)-->
    <link href="/launch-iphone.png" media="(device-width: 320px)" rel="apple-touch-startup-image">

	<title>Simon Game</title>
	<link rel="apple-touch-icon" size="120x120" href="/apple-touch-icon.png">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
