html {
	background-color: #9628fe;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	width: 100%;
	min-height: 100%;
	font-size: 80%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

input, textarea, select, button {
	-webkit-appearance: none;
	outline: none;
	font-family: 'Press Start 2P', cursive;
}

.hidden {
	display: none;
}

.active {
	color: red !important
}

a {
	text-decoration: none;
	font-size: 13px;
	color: black;
}

#prod {
	left: 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-size: 13px;
}

#content {
	width: 500px;
	height: 90vh;
	max-width: 85%;
	margin: 0 auto;
	padding-top: 2vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	overflow-x: hidden;
}

#startblock {
	width: 100%;
}

#game-title {
	font-size: 3rem;
	margin: 0;
	color: #FEF2BF;
}

#level-title {
	font-size: 3rem;
	margin: 0;
	padding-bottom: 3vh;
	color: #FEF2BF;
}

input {
	width: 80%;
	font-size: 1.5rem;
	background: #FEF2BF;
	margin-top: 0;
	color: #000;
	padding: 0px 20px;
	height: 44px;
}

#play {
	width: 30%;
	font-size: 1rem;
	background: #FEF2BF;
	color: #000;
	cursor: pointer;
	height: 48px;
	padding: 0;
	margin: 0;
}

.newPlayer {
	margin: 5vh 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.container {
	display: flex;
	margin: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.left {
	text-align: left;
}

.center {
	text-align: Ñenter;
}

.right {
	text-align: right;
}

.btn {
	width: 30%;
	margin: 5%;
	display: inline-block;
	height: auto;
	padding: 15% 0;
	border: 2px solid #000;
	border-radius: 20%;
	-webkit-appearance: none;
	cursor: pointer;
	transition: all .2s;
}

.game-over {
	background-color: red;
	opacity: 0.8;
}

.red {
	background-color: red;
	box-shadow: 15px 15px 1px rgb(60, 0, 0);
}

.green {
	background-color: green;
	box-shadow: 15px 15px 1px rgb(0, 60, 0);
}

.blue {
	background-color: blue;
	box-shadow: 15px 15px 1px rgb(0, 0, 60);
}

.yellow {
	background-color: yellow;
	box-shadow: 15px 15px 1px rgb(60, 60, 0);
}

.red.active {
	box-shadow: 5px 5px 1px rgb(40, 0, 0) !important;
	transform: translate3d(10px, 10px, 0) !important;
}

.green.active {
	box-shadow: 5px 5px 1px rgb(0, 40, 0) !important;
	transform: translate3d(10px, 10px, 0) !important;
}

.blue.active {
	box-shadow: 5px 5px 1px rgb(0, 0, 40) !important;
	transform: translate3d(10px, 10px, 0) !important;
}

.yellow.active {
	box-shadow: 5px 5px 1px rgb(40, 40, 0);
	transform: translate3d(10px, 10px, 0);
}

.red.glow {
	background-color: rgb(35, 0, 0);
	box-shadow: 15px 15px 0px rgb(15, 0, 0);
}

.green.glow {
	background-color: rgb(0, 35, 0);
	box-shadow: 15px 15px 0px rgb(0, 15, 0);
}

.blue.glow {
	background-color: rgb(0, 0, 35);
	box-shadow: 15px 15px 0px rgb(0, 0, 15);
}

.yellow.glow {
	background-color: rgb(35, 35, 0);
	box-shadow: 15px 15px 0px rgb(15, 15, 0);
}

#recordTable {
	max-width: 350px;
	padding: 0 20px;
	margin: 0px auto;
	margin-bottom: 20px;
	color: black;
	background: #FEF2BF;
	max-height: 38vh;
	overflow-y: scroll;
}

.recordTitle {
	padding-bottom: 10px;
	color: #FEF2BF;
}

.gamerRecord {
	display: flex;
	color: black;
	height: 30px;
	line-height: 30px;
	border-radius: 0px;
	border-bottom: 1px solid #000;
}

.gamerRecord>.first {
	width: 15%;
}

.gamerRecord>.second {
	width: 75%;
}

.gamerRecord>.third {
	width: 10%;
}

@media screen and (max-width:800px) {
	#game-title {
		font-size: 1.8rem;
	}

	.newPlayer {
		flex-direction: column;
	}

	#play, input {
		width: 100%;
		margin: 10px 0;
		padding: 0;
		text-align: center;
	}

	#level-title {
		font-size: 2rem;
		padding-bottom: 5vh;
		margin: 0;
	}
}